:root {
  --primary: #1f4e79;
  --secondary: #f4f4f4;
  --accent: #ffd700;
}



body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}


h2{
  text-align: center;
}
nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

.navigation.open {
    display: flex;
}

main {
  padding: 1rem;
  display: grid;
  gap: 1.5rem;
}

section {
  background: var(--primary);
  padding: 1rem;
  border-radius: 8px;
  border: solid var(--accent);
}

.weather, .events {
   color:var(--secondary);

}

section h2{
  color: #ffd700;
}


#spotlight-container {
  display: grid;
  gap: 1rem;
}

.spotlight-card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

.spotlight-card img {
  max-width: 100px;
}


footer {
  text-align: center;
}
 

@media (min-width: 768px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }

  .hero {
    grid-column: 1 / -1;
  }

  .spotlights {
    grid-column: 1 / -1;
  }

  #spotlight-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
