@media (min-width: 650px){
    .hamburger { display: none; }
    .nav-hidden { display:flex; }


    header{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    max-width: 90vw;
    margin: 0 auto;
}

    #page-name{
        display: block;
        background-color: #006eb6;
        padding: 1rem;
        color: #fff;
    
    }

    .navigation{
        list-style: none;
        display: flex;
        background-color: #0c0c0c;
        color: #ffffff;
    }
    .navigation a {
        display: block;
        color: #ffffff;
        text-decoration: none;
        padding: 4px;
    }

    .navigation a:hover {
        font-weight: 700;
        color:  #006eb6;
    }

    .grid {
        display: grid;
        grid-template-columns: 2fr 1fr; 
        gap: 10px;
    }
    .card3 {
        grid-column: 1 / -1; 
    }


}