/**must contain a media query**/
*{
    padding: 0;
    margin: 0;
    
}

header{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    max-width: 90vw;
    margin: 0 auto;
}

main, footer{
     font-family: "Roboto", sans-serif;
    font-weight: 400;
    max-width: 88vw;
    margin: 0 auto;
}

header {
background:  #006eb6;
border-bottom: 1px solid #ddd;
padding: 0.5rem 1rem;
}

#page-name{
    font-size: 10px;
}

.nav-hidden { display: none; }

nav {
position: absolute;
top: 60px;
right: 1rem;
background-color: #0c0c0c;
border: 1px solid #eee;
padding: 0.5rem;

}

.navigation {
list-style: none;
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
gap: 0.25rem;
}

.navigation a {
    color: #ffffff;
}

.hamburger {
font-size: 30px;
background: transparent;
border: none;
}

.card1 ,.card2 ,.card3 {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  border-color: #0c0c0c;
  box-shadow: 0 2px 6px #0000001a;
  margin-top:10px;
}

.card-header{
    background-color: #006eb6;
    color: white;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 15px;
}

.profile-picture, p{
    padding: 3px;
}

.card2, img{
    text-align: center;
}



.rectangle {
    border-radius: 0px;    
}

.rounded{
    border-radius: 10px;
}

.p{
    text-align: center;
}
.footer1{
    text-align:center;
    padding: 10px;
}

.footer2 {
    background-color:  #006eb6;
    color:white;
    text-align: center;
    font-size: 10px;
}





